## content from makestuff
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
web
research
tech
org
3SS
ici3d
makestuff
DataViz
outbreak
projects
shi
rabies
park
Sandbox
legacy
coronavirus
staging
cygu
1M
planning
earn
Workshops
admin
Dropbox
git_push
3SS_top
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
web
research
tech
org
3SS
ici3d
makestuff
DataViz
outbreak
projects
shi
rabies
park
Sandbox
legacy
coronavirus
staging
cygu
1M
planning
earn
Workshops
admin
Dropbox
git_push
3SS_top
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
web
research
tech
org
3SS
ici3d
makestuff
DataViz
outbreak
projects
shi
rabies
park
Sandbox
legacy
coronavirus
staging
cygu
1M
planning
earn
Workshops
admin
Dropbox
git_push
3SS_top
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
web
research
tech
org
3SS
ici3d
makestuff
DataViz
outbreak
projects
shi
rabies
park
Sandbox
legacy
coronavirus
staging
cygu
1M
planning
earn
Workshops
admin
Dropbox
git_push
3SS_top
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
web
research
tech
org
3SS
ici3d
makestuff
DataViz
outbreak
projects
shi
rabies
park
Sandbox
legacy
coronavirus
staging
cygu
1M
planning
earn
Workshops
admin
Dropbox
git_push
3SS_top
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
GratewithErrBars-eps-converted-to.pdf
AveragingGrowthRate.pdf
21April20CombineTemPlot-eps-converted-to.pdf
Feb_06_fitGrouwthRate-eps-converted-to.pdf
MonthlyGrowthRateDec12-eps-converted-to.pdf
GrowthRateSensitivityPlot-eps-converted-to.pdf
ProjectionwithErrBar-eps-converted-to.pdf
20April20AnnualAverageTemp1960to2018-eps-converted-to.pdf
makestuff
*.ld.tex
jekyll.log
.texdeps/
AveragingGrowthRate.pdf
AveragingGrowthRate.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
GratewithErrBars-eps-converted-to.pdf
AveragingGrowthRate.pdf
21April20CombineTemPlot-eps-converted-to.pdf
Feb_06_fitGrouwthRate-eps-converted-to.pdf
MonthlyGrowthRateDec12-eps-converted-to.pdf
GrowthRateSensitivityPlot-eps-converted-to.pdf
ProjectionwithErrBar-eps-converted-to.pdf
20April20AnnualAverageTemp1960to2018-eps-converted-to.pdf
makestuff
*.ld.tex
jekyll.log
.texdeps/
AveragingGrowthRate.pdf
AveragingGrowthRate.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
GratewithErrBars-eps-converted-to.pdf
AveragingGrowthRate.pdf
21April20CombineTemPlot-eps-converted-to.pdf
Feb_06_fitGrouwthRate-eps-converted-to.pdf
MonthlyGrowthRateDec12-eps-converted-to.pdf
GrowthRateSensitivityPlot-eps-converted-to.pdf
ProjectionwithErrBar-eps-converted-to.pdf
20April20AnnualAverageTemp1960to2018-eps-converted-to.pdf
makestuff
*.ld.tex
jekyll.log
.texdeps/
AveragingGrowthRate.pdf
AveragingGrowthRate.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
GratewithErrBars-eps-converted-to.pdf
AveragingGrowthRate.pdf
21April20CombineTemPlot-eps-converted-to.pdf
Feb_06_fitGrouwthRate-eps-converted-to.pdf
MonthlyGrowthRateDec12-eps-converted-to.pdf
GrowthRateSensitivityPlot-eps-converted-to.pdf
ProjectionwithErrBar-eps-converted-to.pdf
20April20AnnualAverageTemp1960to2018-eps-converted-to.pdf
makestuff
*.ld.tex
jekyll.log
.texdeps/
AveragingGrowthRate.pdf
AveragingGrowthRate.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame

