## content from makestuff
testing
run
Dropbox
legacy
dirnames.mk
*.ld.tex
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
shi
park
cygu
Workshops
earn
3SS
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
legacy
dirnames.mk
*.ld.tex
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
shi
park
cygu
Workshops
earn
3SS
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
legacy
dirnames.mk
*.ld.tex
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
shi
park
cygu
Workshops
earn
3SS
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
legacy
dirnames.mk
*.ld.tex
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
shi
park
cygu
Workshops
earn
3SS
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
example.eps
makestuff
*.ld.tex
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
.texdeps/
mummies.pdf
mummies.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
